# SPDX-FileCopyrightText: 2024 The DeckCheatz Developers
#
# SPDX-License-Identifier: Apache-2.0

!.vscode/extensions.json
**/*.rs.bk
*.local
*.log
*.pdb
*.pem
*.sln
*.suo
*.sw?
.DS_Store
.devenv*
.direnv
.env*.local
.flatpak-builder
.idea
.pre-commit-config.yaml
.vercel
.vscode/*
/build
/coverage
/out/
/result
build
debug/
devenv.local.nix
repo
rust-project.json
target/
