# SPDX-FileCopyrightText: 2024-2025 The DeckCheatz Developers
#
# SPDX-License-Identifier: Apache-2.0
name: CI tests for Linux
on:
  workflow_call:
env:
  CARGO_TERM_COLOR: always
jobs:
  run-linux-tests:
    name: CI tests for x86_64-unknown-linux-musl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Cache Rust assets
        id: rust-cache
        uses: Swatinem/rust-cache@v2
      - name: Configure Rust
        if: ${{ steps.rust-cache.outputs.cache-hit == 'false' }}
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy,rustfmt
          target: x86_64-unknown-linux-musl
      - name: Install Cross
        if: ${{ steps.rust-cache.outputs.cache-hit == 'false' }}
        uses: taiki-e/install-action@v2
        with:
          tool: cross
      - name: Run tests
        run: $HOME/.cargo/bin/cross test --target=x86_64-unknown-linux-musl
      - name: Run Cargo checks
        run: $HOME/.cargo/bin/cross check --target=x86_64-unknown-linux-musl
      - name: Run Clippy tests
        run: $HOME/.cargo/bin/cross clippy --target=x86_64-unknown-linux-musl
      - name: Run formatting checks
        run: cargo fmt -- --check
